/**/

body{
	padding: 0;
	margin: 0;
}
a, a:hover, a:focus{
	text-decoration: none;
}
.header{
	padding: 15px;
}
.header .navbar{
	min-height: unset;
	margin: 0;
}
.header .navbar-brand{
	padding: 0;
	height: auto;
}
.header .navbar-collapse{
	float: right;
}
.header .nav-link{
	border-left: 1px solid #ccc;
	color: #37454d;
	font-size: 16px;
	padding: 0 20px;
}
.header ul.navbar-nav{
	padding: 0 15px;
}
.header ul.navbar-nav li.nav .open a,
.header ul.navbar-nav li.nav .open a:hover,
.header ul.navbar-nav li.nav .open a:focus,
.header ul.navbar-nav li a:hover,
.header ul.navbar-nav li a:focus{
	background-color: transparent;
}
.header .dropdown-menu{
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(41,51,57,.5);
	max-width: 100%;
	min-width: unset;
	width: 200px;
	top: 40px;
	padding: 5px;
}
.header .dropdown-menu:before{
	border-top: 0 none;
	border-bottom: 12px solid #ffffff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	top: -12px;
	left: 40%;
}
.header .dropdown-item{
	border-bottom: 1px solid #ccc;
	color: #37454d;
	display: block;
	padding: 6px 12px;
	text-align: center;
	width: 100%;
}
.header .dropdown-item:last-child{
	border-bottom: 0 none;
}

.fullscreen_dark{
	background-color: #37454d;
	padding: 15px;
}
.fullscreen_dark .form-group{
	margin-bottom: 10px;
}
.fullscreen_dark .form-group:last-child{
	margin-bottom: 0;
}
.searchbar .form-control{
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	height: 42px;
}
.searchbar .input-group-btn{
	background-color: #ffffff;
	border-radius: 0;
	height: 42px;
	padding: 0;
}
.searchbar .input-group-btn.s_icon{
	padding-left: 15px;
}
.s_icon svg{
	height: 18px;
	width: 18px;
}
.s_icon svg path{
	fill:  #9ba2a6;
}
.searchbar .input-group-btn .btn{
	background-color: #005F81;
	border-radius: 0;
	color: #ffffff;
	font-size: 18px;
	height: 100%;
	padding: 5px 25px;
}
.three_blocks{
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
	width: 32.9%;
}
.three_blocks:first-child{
	padding-left: 0;
}
.three_blocks:last-child{
	padding-right: 0;
}
.three_blocks .thumb{
	background-color: #ffffff;
	border-left: 6px solid transparent;
	border-radius: 3px;
	min-height: 48px;
	padding: 4px 8px;
}
.three_blocks:first-child .thumb{
	border-left-color: #007FAD;
}
.three_blocks:nth-child(2) .thumb{
	border-left-color: #F48F00;
}
.three_blocks .thumb span{
	display: inline-block;
	vertical-align: middle;
}
.input_icon{
	width: 30px;
	padding-right: 5px;
}
.input_icon svg path{
	fill: #37454D;
}
.input_values{
	width: calc(100% - 40px);
}
.input_values label{
	color: #37454d;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.calender{
	font-size: 12px;
	font-weight: 600;
}
.input_values .dropdown{
	margin-top: 10px;
	text-align: center;
}
.input_values .dropdown .dropdown-toggle{
	color: #37454d;
	font-size: 14px;
}
.input_values .dropdown-menu{
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(41,51,57,.5);
	top: 45px;
	padding: 5px;
	width: 100%;
}
.input_values .dropdown-menu:before{
	border-top: 0 none;
	border-bottom: 12px solid #ffffff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: "";
	position: absolute;
	top: -12px;
	left: 44%;
}
.input_values a.dropdown-item{
	border-bottom: 1px solid #ccc;
	color: #37454d;
	cursor: pointer;
	display: block;
	padding: 6px 12px;
	text-align: center;
	width: 100%;
}
.input_values .dropdown-item:last-child{
	border-bottom: 0 none;
}

.list_section{
	background-color: #EBECED;
	padding: 10px 15px;
	min-height: calc(100vh - 182px);
}

.item_list .thumbnail{
	background-color: #ffffff;
	border: 0 none;
	border-radius: 0;
	box-shadow: 0 1px 4px rgba(41,51,57,.5);
	margin-bottom: 8px;
	padding: 8px;
}
.img_area{
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 160px;
}
.img_area img{
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}
.img_area:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}
.bookmark{
	top: 0;
	left: 0;
	padding: 4px;
	position: absolute;
	text-align: center;
	height: 32px;
	width: 32px;
}
.bookmark span.fa{
	font-size: 24px;
}
.bookmark:hover{
	background-color: rgba(255, 255, 255, 0.75 );
}
.bookmark:hover span.fa:before{
	content: "\f004";
	color: #c94a30;
}
.flex_column{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 165px);
}
.flex_column .content{
	border-right: 1px solid #ccc;
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
	width: 49%;
}
.flex_column .content h3{
	color: #005f81;
	font-size: 26px;
	margin-top: 0;
}
.flex_column .content p{
	color: #37454d;
	font-size: 15px;
}
.flex_column .content .badge{
	background-color: #428500;
	border-radius: 0;
	padding: 4px;
}
.stars{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 6px;
}
.stars span{
	display: inline-block;
	vertical-align: middle;
}
.stars span svg path{
	fill: #F6AB3F;
}
.stars span p{
	margin: 0;
}
.deals{
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	vertical-align: top;
	width: 49%;
}
.deals ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.deals ul li{
	margin-bottom: 4px;
}
.deals ul li a,
.deals ul li p,
.deals ul li strong{
	color: #37454d;
}
.deals .btn{
	border-radius: 0;
	display: block;
	margin: 10px auto;
}
.border_btn.btn{
	background-color: transparent;
	border: 2px solid #428500;
	color: #428500;
	font-size: 16px;
	padding: 6px 20px;
}
.dark_btn.btn{
	background-color: #428500;
	border: 2px solid #428500;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 20px;
}

@media (min-width: 1200px){
	.list_section .container,
	.fullscreen_dark .container{
		max-width: 850px;
	}
}

/* 13 july */
.search-box
{
	float: left;
	width: 100%;
}
.search-box .form-group:first-child,.seach-fields .form-group:first-child
{
	margin: 0 0 10px;
}
.seach-fields
{
	float: left;
	width: 100%;
}
.seach-fields .row
{
	margin:0 -5px;
}