<template>
<div class="header">
		<nav class="navbar">
			<a class="navbar-brand" href="#">LOGO</a>
			<div class="collapse navbar-collapse" id="Nav">
				<div class="navbar-nav">
					<ul class="nav navbar-nav">
						<li class="active">
							<a class="nav-link" href="#">NYZ</a>
						</li>
						<li class="dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="Navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile <span class="fa fa-caret-down"></span></a>
							<div class="dropdown-menu" aria-labelledby="Navbar">
								<a class="dropdown-item"><router-link to="/login">Login</router-link></a>
								<a class="dropdown-item"><router-link to="/sign-up">Sign</router-link></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</template>
