<template>
  <div class="home">
    <Search />
    <Result />
  </div>
</template>

<script>
// @ is an alias to /src
import Search from '@/components/search'
import Result from '@/components/result'
export default {
  name: 'home',
  components:{
    Search,
    Result
  }
}
</script>
