<template>
    <section class="login-main">
        <div class="container">
            <div class="dis-flex">
                <div class="login-div">
                    {{userLogin.email}}
                    {{userDetails}}
                    <h3>Login with your email</h3>
                    <form @submit.prevent="loginForm">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="">Email Address</label>
                                <input type="email" class="form-control" v-model="user.email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="">Password</label>
                                <input type="text" class="form-control" v-model="user.password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn cus-btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import ApiS from "@/services/ApiService";
import { mapState,mapGetters,mapMutations } from 'vuex'
export default {
  name: "login",
  data() {
    return {
      baseUrl: "http://node.eprofitanalyzer.com:3016/",
      local: {},
      cities: {},
      requestUrl: "login",
      user: {
        email: "",
        password: ""
      }
    };
  },
    computed:{
   ...mapState(['userLogin']),
   ...mapGetters(['userDetails'])
   // Now you can read the name by using this.name
  },
  methods: {
    ...mapMutations([
      'ADD_USER'
    ]),
    // getCities: function() {
    //   this.$http.get(this.baseUrl).then(
    //     function(response) {
    //       this.cities = response.body;
    //       console.log(this.cities);
    //     },
    //     function(error) {
    //       console.log("an error occured in api/city GET");
    //     }
    //   );
    // },
    // Login(){
    //     if(this.user.email !='' &&  this.user.email !== 'undefined' && this.user.password !=''){
    //         console.log(this.user);
                //     fetch(this.baseUrl)
                //         .then(stream => stream.json())
                //         .then(data => console.log(data))
                //         .catch(error => console.error(error))
                // } else {
                //     // this.items = this.source
                //     console.log("SDgdsg");
                // }
    // },

    loginForm() {
      fetch(this.baseUrl + "login", {
        method: "post",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        //make sure to serialize your JSON body
        body: JSON.stringify({
          email: this.user.email,
          password: this.user.password
        })
      })
        .then(response => {
          return response.json();
        })
        .then(
          (data) =>{
            this.ADD_USER(data.params)
            this.$router.push('/')
          }
        )
        .catch(error => error);
    }
  }
};
</script>
<style>
.login-main {
  background-color: #ebeced;
  float: left;
  width: 100%;
  height: 100%;
}
.dis-flex {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.login-div {
  width: 100%;
  max-width: 450px;
  display: inline-block;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.login-div h3 {
  margin: 0;
  background-color: #007fad;
  padding: 10px 15px;
  text-align: left;
  color: #fff;
}
.login-div form {
  padding: 20px;
}
.login-div div.checkbox {
  margin: 0;
}
.cus-btn {
  background-color: #007fad;
  padding: 8px 20px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.cus-btn:hover {
  background-color: transparent;
  border: 1px solid #007fad;
  color: #007fad;
}
</style>

