<template>
    <section class="login-main">
        <div class="container">
            <div class="dis-flex">
                <div class="login-div">
                    <h3>Sign up with your email</h3>
                    <form action="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="">Email Address</label>
                                <input type="text" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="">Password</label>
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Show My Password</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Agree to <a href="javascript:;" class="a-clr">Terms & Conditions</a></label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Agree to <a href="javascript:;" class="a-clr">Privacy Policy</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn cus-btn">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
name:'sign'
}
</script>
<style>
    .login-main
    {
        background-color: #EBECED;
        float: left;
        width: 100%;
        height:100%;
    }
    .dis-flex
    {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
    }
    .login-div
    {
        width: 100%;
        max-width: 450px;
        display: inline-block;
        padding:  0;
        background-color: #fff;
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
        text-align: left;
    }
    .login-div h3
    {
        margin: 0;
        background-color: #007fad;
        padding: 10px 15px;
        text-align: left;
        color:#fff;
    }
    .login-div form
    {
        padding: 20px;
    }
    .login-div div.checkbox
    {
        margin: 0;
    }
    .cus-btn
    {
        background-color: #007fad;
        padding: 8px 20px;
        color: #fff;
        transition: all 0.3s ease 0s;
    }
    .cus-btn:hover{
        background-color: transparent;
        border:1px solid #007fad;
        color: #007fad;
    }
    .a-clr,.a-clr:hover
    {
        color: #007fad;
    }
</style>