<template>
<div class="container-fluid list_section">
		<div class="container" v-if="hotels">
			<div class="item_list" v-for="(item, index) in hotels" :key="index">
				<div class="thumbnail">
					<div class="img_area">
						<img src="https://imgio.trivago.com/partnerimages/13/64/136428774_isq.jpeg" class="img-responsive" alt="/">
						<div class="bookmark">
							<span class="fa fa-heart-o"></span>
						</div>
					</div>

					<div class="flex_column">
						<div class="content">
							<h3>{{item.attributes.name}}</h3>
							<div class="stars">
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
										<path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
									</svg>
								</span>

								<span>
									<svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
										<path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
									</svg>
								</span>

								<span>
									<svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
										<path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
									</svg>
								</span>

								<span>
									<svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
										<path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
									</svg>
								</span>

								<span>
									<p>Serviced apartment</p>
								</span>
							</div>
							<p>{{item.attributes.address.physical}}</p>
							<p><span class="badge">8.0</span> <b>Very Good</b> (1756 reviews)</p>
							<p>Extremely clean (8.5 / 10)</p>
						</div>

						<div class="deals">
							<ul>
								<li>
									<p>Expedia <strong>{{item.attributes.currency}}$196</strong></p>
								</li>

								<li>
									<a href="/">
										<p>Amoma.com <strong>NZ$196</strong></p>
									</a>
								</li>
							</ul>

							<button type="button" class="border_btn btn">Pay at the hotel</button>
							<button type="button" class="dark_btn btn">View Deal</button>
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
	name:"result",
	computed: {
    ...mapState(["hotels"])
  }
}
</script>
