<template>
<div class="container-fluid fullscreen_dark">
    {{baseUrl}}
		<div class="container">
			<div class="search-box">
                <form  role="form" class="form-horizontal" @submit.prevent="searchForm">
                    <div class="form-group">
                        <div class="input-group searchbar">
                            <span class="input-group-btn s_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="24" height="24" baseProfile="tiny" viewBox="0 0 24 24">
                                    <path class="svg-color--primary" fill="#37454D" d="M10 4c3.308 0 6 2.692 6 6s-2.692 6-6 6-6-2.692-6-6 2.692-6 6-6m0-2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z"></path>
                                    <path class="svg-color--secondary" fill="none" stroke="#37454D" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M21 21l-6-6"></path>
                                </svg>
                            </span>
                            <!-- <input type="text" class="form-control" v-model="search.searchtxt"  placeholder="Search" autofocus> -->
                            <select v-model="selected" class="form-control">
                                <option disabled value="">Please select one</option>
                                <option v-for="option in options" :key="option.id" v-bind:value="option.value">
                                     {{ option.text }}
                                </option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="seach-fields">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <div class="three_blocks">
                                <div class="thumb">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="18" height="16" viewBox="0 0 18 16">
                                            <g class="svg-color--primary" fill="#37454D">
                                                <path d="M16 1h-1c0-.552-.448-1-1-1s-1 .448-1 1H5c0-.552-.448-1-1-1S3 .448 3 1H2C.896 1 0 1.895 0 3v11c0 1.104.896 2 2 2h14c1.104 0 2-.896 2-2V3c0-1.105-.896-2-2-2zm1 13c0 .552-.448 1-1 1H2c-.552 0-1-.448-1-1V5h16v9zm0-10H1V3c0-.552.45-1 1-1h14c.552 0 1 .448 1 1v1z"></path>
                                                <circle cx="4.5" cy="8.5" r="1.5"></circle>
                                            </g>
                                        </svg>
                                    </span>

                                    <span class="input_values">
                                        <label>Check-in</label>
                                      <div class="calender"> <date-picker v-model="time1" lang="en" type="date" format="YYYY-MM-DD" :not-before="new Date()" autocomplete="off"></date-picker>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="three_blocks">
                                <div class="thumb">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="18" height="16" viewBox="0 0 18 16">
                                            <g class="svg-color--primary" fill="#37454D">
                                                <path d="M16 1h-1c0-.552-.448-1-1-1s-1 .448-1 1H5c0-.552-.448-1-1-1S3 .448 3 1H2C.896 1 0 1.896 0 3v11c0 1.104.896 2 2 2h14c1.104 0 2-.896 2-2V3c0-1.104-.896-2-2-2zm1 13c0 .552-.448 1-1 1H2c-.552 0-1-.448-1-1V5h16v9zm0-10H1V3c0-.552.45-1 1-1h14c.552 0 1 .448 1 1v1z"></path>
                                                <circle cx="13.5" cy="11.5" r="1.5"></circle>
                                            </g>
                                        </svg>
                                    </span>

                                    <span class="input_values">
                                        <label>Check-out</label>
                                        <div class="calender"><date-picker v-model="time2" lang="en" type="date" format="YYYY-MM-DD"  autocomplete="off" :not-before="new Date()"></date-picker></div>
                                    </span>
                                </div>
                            </div>

                            <div class="three_blocks">
                                <div class="thumb">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="20" height="16" viewBox="0 0 20 16">
                                            <g class="svg-color--primary" fill="#37454D">
                                                <path d="M17.3 6.25c.45-.65.7-1.45.7-2.25 0-2.2-1.8-4-4-4-1.15 0-2.2.5-2.95 1.3.25.2.5.45.7.7.55-.65 1.35-1 2.25-1 1.65 0 3 1.35 3 3 0 .8-.3 1.5-.8 2-.55.6-1.35 1-2.2 1-.4 0-.8-.1-1.15-.25 0 .1-.05.15-.05.25-.05.2-.1.4-.2.6.2.1.4.2.55.3.25.05.55.1.85.1 1 0 1.9-.35 2.6-.95C18 7.3 19 8.55 19 10c0 .55-.45 1-1 1h-2.35c.1.3.2.65.25 1H18c1.1 0 2-.9 2-2 0-1.75-1.1-3.25-2.7-3.75z"></path>
                                                <path d="M14.95 12.3c0-.05 0-.1-.05-.15v-.05-.05c0-.1-.05-.2-.05-.3-.05-.1-.05-.25-.1-.35s-.1-.25-.15-.35c-.05-.15-.1-.25-.2-.4-.2-.4-.45-.75-.75-1.05l-.3-.3c-.2-.2-.4-.35-.65-.5-.45-.3-1-.5-1.55-.65.05-.1.15-.2.2-.3.15-.2.25-.4.3-.6.05-.05.05-.15.1-.2 0-.05.05-.05.05-.1 0-.1.05-.15.05-.25.05-.15.1-.35.1-.5V6c0-.15.05-.35.05-.5 0-.95-.3-1.85-.8-2.55-.2-.3-.45-.6-.75-.8C9.7 1.4 8.65 1 7.5 1 5 1 3 3 3 5.5c0 .25 0 .45.05.7.05.15.05.35.1.5 0 .1.05.15.05.25.05.1.1.2.15.35l.3.6c.05.1.15.2.2.3-.55.15-1.05.35-1.55.65-.25.15-.45.3-.65.5l-.3.3c-.55.6-1 1.35-1.2 2.15-.05.2-.1.45-.15.75V13c0 1.65 1.35 3 3 3h9c1.65 0 3-1.35 3-3v-.45c-.05-.1-.05-.2-.05-.25zM7.5 2c1.05 0 1.95.45 2.6 1.15.55.6.9 1.45.9 2.35 0 .2 0 .45-.05.65 0 .1-.05.2-.1.35-.1.35-.25.7-.45 1-.15.2-.3.35-.45.5-.15.15-.3.25-.45.4-.4.25-.85.45-1.3.55-.25.05-.5.05-.7.05-.95 0-1.8-.4-2.45-1C4.4 7.35 4 6.5 4 5.5 4 3.55 5.55 2 7.5 2zM12 15H3c-1.1 0-2-.9-2-2 0-2.1 1.65-3.85 3.7-4 .75.65 1.75 1 2.8 1 .15 0 .35 0 .5-.05.35-.05.7-.1 1-.25.45-.15.9-.4 1.3-.75 1.35.1 2.5.9 3.15 2 .2.3.3.65.4 1 .1.3.15.65.15 1 0 1.15-.9 2.05-2 2.05z"></path>
                                            </g>
                                        </svg>
                                    </span>

                                    <span class="input_values">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" id="Menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</a>

                                            <div class="dropdown-menu" aria-labelledby="Menu">
                                                <a class="dropdown-item">Single Room</a>
                                                <a class="dropdown-item">Multiple Rooms</a>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import axios from "axios";
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  name: "search",
  components: { DatePicker },
  data() {
    return {
      baseUrl: "http://node.eprofitanalyzer.com:3016/",
      Headeroptions: {
        method: "get",
        mode: "no-cors",
        headers: {
          Accept: "application/json",
          Authorization:
            "Bearer oRpcg1kOvabZMrBA+NT5mfMYE+DD7F3l2jRwAbOaS90AFhR//LoE0AVoNo+EfrGO",
          "Content-type": "application/json"
        }
      },
      time2: "",
      time1: "",
      records: "",
      selected: "",
      options: [{ text: "New Zealand", value: "108" }]
    };
  },
  methods: {
    ...mapMutations(["ADD_HOTELS"]),
    searchForm() {
      if (this.selected) {
        axios
          .get(this.baseUrl + "properties/" + this.selected)
          .then(response => {
            this.ADD_HOTELS(response.data);
          })
          .catch(e => {
            this.errors.push(e);
          });
      }
    }
  },
  computed: {
    ...mapState(["hotels"])
  }
};
</script>

